.card .front {
    transform: rotateY(90deg);
    position: absolute;
    transition: all ease-in 0.2s;
}

.flipped .front {
    transform: rotateY(0deg);
    transition-delay: 0.2s;
}

.front {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.card .back {
    transition: all ease-in 0.2s;
    transition-delay: 0.2s;
}

.flipped .back {
    transform: rotateY(90deg);
    transition-delay: 0s;
}

.back {
    width: 250px;   
}

@media (min-width: 1200px) {
    .back {
        width: 200px;
    }
}

@media (max-width: 600px) {
    .back {
        width: 80px;
    }

    .front {
        width: 80px;
    }
}